/* AppComponent's private CSS styles */

.filterWrapper{
  height: calc(100% - 2px);
  position: fixed;
  width: 280px;
  padding: 8px;
  z-index: 11;
  background-color: #fff;
  border: 0px;
  -webkit-box-shadow: 4px -1px 10px 0px rgba(0,0,0,.16);
  box-shadow: 4px -1px 10px 0px rgba(0,0,0,.16);
}

