<ngx-ui-loader ></ngx-ui-loader>
<div class="appContainer">
  <div class="filterWrapper" [@expandables]="expandFlag">
      <div class="filterHeader" [@fade]="headerFlag">
          Calendar <span (click)="toggleExpansion()" class="crossIcon">X</span>
      </div>
    <mdb-icon fas class="calendarIcon" [@fade]="fadeFlag" icon="calendar-day" (click)="toggleExpansion()"></mdb-icon>    
    <app-calendar-filter #filterContainer (filterData)="loadSessions($event)" ></app-calendar-filter>
  </div>
  <div >
    <app-custom-calendar #calendarContainer id="calendarContainer"></app-custom-calendar>
  </div>
</div>
    
